<div class="FilterContent">
  <div *ngIf="filterCompinnetModel.showComponent" class='FilterComponent'>


    <div class="horizontalFilters">
      <mat-select value="Select" [(ngModel)]="filterCompinnetModel.selected">
        <mat-placeholder class="selectPlaceholder">Select Item</mat-placeholder>
        <mat-option *ngFor="let propName of filterCompinnetModel.categories"
                    [value]="propName">{{'Show Only ' + propName|titlecase}}</mat-option>
        <mat-option [value]="'All'">Show All</mat-option>
        <mat-option [value]="'Select'">Select</mat-option>
      </mat-select>
      <div class="slider">
        <label>Price At </label>
        <mat-slider #priceref
                    color="primary"
                    thumbLabel
                    step="1"
                    min="1"
                    max="50000"
                    class="priceSlider"
                    [(ngModel)]="filterCompinnetModel.priceAt"></mat-slider>
        <label>{{priceref.value|currency:'AMD  '}}</label>
      </div>

      <div class="slider">
        <label>Price to </label>
        <mat-slider #countref
                    color="primary"
                    thumbLabel
                    step = "1"
                    min="1"
                    max="50000"
                    class="countSlider"
                    [(ngModel)]="filterCompinnetModel.priceTo"></mat-slider>
        <label>{{countref.value|currency: 'AMD '}}</label>
      </div>
    </div>
    <div class="combinations">
    <label>Check Your Combination</label>
    <div class="chekboxs">
      <mat-checkbox *ngFor="let cat of filterCompinnetModel.categories" [(ngModel)]="filterCompinnetModel.checkBoxValue[cat]">{{cat|titlecase}}</mat-checkbox>
    </div>
    </div>
    <button mat-button class="FilterButton" (click)="filterAction()">Filter</button>
</div>

<button mat-button (click)="show()">Click
  To {{(filterCompinnetModel.showComponent) ? "Hide Filter Component" : "Show Filter Component"}}</button>
</div>



